<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a *ngFor="let menuOption of menuOptions" 
          mat-list-item
          routerLink="{{menuOption.routerLink}}" 
          class="{{menuOption.class}}">
          <mat-icon class="icon">{{menuOption.icon}}</mat-icon>
          <span class="label" translate>{{menuOption.name}}</span>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          Material Blog
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li *ngFor="let menuOption of menuOptions" >
              <a class="{{menuOption.class}}" routerLink="{{menuOption.routerLink}}" >
                 <mat-icon class="icon">{{menuOption.icon}}</mat-icon>
                 <span class="label" translate>{{menuOption.name}}</span>                 
                </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>